# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
*.dll
*.dll.mdb
*.pdb
*.suo
*.userprefs

# mstest test results
TestResults
/opentk/Binaries/OpenTK/Debug/OpenTK.xml
/opentk/Binaries/OpenTK/Release/OpenTK.xml
/opentk/Source/OpenTK/OpenTK.xml
